@model Planner.Models.ViewModels.EditPatientRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Patient</h1>
    </div>
</div>


<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" id="id" asp-for="Id" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="name" asp-for="Name" />
            </div>

            <div class="mb-3">
                <label class="form-label">Surname</label>
                <input type="text" class="form-control" id="surname" asp-for="Surname" />
            </div>

            <div class="mb-3">
                <label class="form-label">Registration day</label>
                <input type="date" class="form-control" id="registrationDay" asp-for="RegistrationDay" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Research</label>
                <input type="text" class="form-control" id="research" asp-for="Research" />
            </div>

            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="hidden" name="patientWeekDayId" value="@Model.PatientWeekDayId" asp-for="PatientWeekDayId" readonly />
            </div>

            <div class="mv-3">
                <div class="d-flex">
                    <button type="submit" class="btn btn-dark">Update</button>
                    <button type="submit" class="btn btn-danger ms-2"
                        asp-area=""
                        asp-controller="Patient"
                        asp-action="Delete">
                        Delete
                    </button>
                </div>

            </div>


        </form>
    }
    else
    {
        <p>Tag not found!</p>
    }

</div>

@*<script>
    // Получите текущую дату на сервере (в C#)
    var currentDate = new Date(@DateTime.Now.Ticks / 10000);

            // Преобразуйте текущую дату в формат yyyy-MM-dd (как ожидается для атрибута 'min' в <input type="date>)
        var year = currentDate.getFullYear();
    var month = String(currentDate.getMonth() + 1).padStart(2, '0'); // добавьте 1, так как месяцы начинаются с 0
    var day = String(currentDate.getDate()).padStart(2, '0');

    var formattedDate = year + '-' + month + '-' + day;

    // Установите минимальную дату в поле ввода
    document.getElementById('registrationDay').setAttribute('min', formattedDate);
</script>*@